.columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.column {
  min-width: 300px;
}

.block-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: left;
  color: #1f2041;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

span {
  font-weight: normal;
  text-align: right;
  color: rgba(31, 32, 65, 0.5);
}

.input {
  width: 320px;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}

.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.gender-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
  width: 220px;
}

.input:hover,
.input:focus {
  color: rgba(31, 32, 65, 0.75);
  border: 1px solid rgba(31, 32, 65, 0.5);
}

.input:focus-visible {
  outline-color: rgba(31, 32, 65, 0.5);
  border-radius: 4px;
}

select {
  width: 320px;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}

select:focus {
  color: rgba(31, 32, 65, 0.75);
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
}

.input-date {
  font-size: 14px;
  text-transform: uppercase;
}

.input-date-dropd {
  width: 150px;
  height: 44px;
}

.checkbox {
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  margin-right: 30px;
}

.checkbox + .checkbox {
  margin-top: 10px;
}

.checkbox input {
  width: 0;
}

.checkbox input::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  transition: 0.3s;
  background: url(img/checkbox.svg) no-repeat;
}

.checkbox label {
  padding-left: 30px;
  padding-top: 2px;
  cursor: pointer;
}

.checkbox input:checked::before {
  content: "";
  background: url(img/checkbox-checked.svg);
}

.radio-button {
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.5);
}

.radio-button input {
  width: 0;
}

.radio-button input::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  transition: 0s;
  background: url(img/radio-button.svg) no-repeat;
}

.radio-button input:checked::before {
  content: "";
  background: url(img/radio-button-on.svg) no-repeat;
}

.radio-button input:checked + label {
  opacity: 0.75;
}

.radio-button label {
  padding-left: 30px;
  margin-top: -2px;
  cursor: pointer;
  opacity: 0.5;
}

.toggle {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}
.toggle input {
  width: 0;
}
.toggle input::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 20px;
  opacity: 0.25;
  transition: 0.3s;
  background: url(img/toggle-off.svg) no-repeat;
}

.toggle input:checked::before {
  content: "";
  background-position-x: 20px;
  opacity: 1;
}
.toggle label {
  padding-left: 50px;
  cursor: pointer;
  padding-top: 1px;
}

.like-button {
  width: 40px;
  height: 20px;
  background: 5px center url(img/no-favorite.svg) no-repeat;
  border-radius: 10px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  padding-left: 15px;
  color: rgba(31, 32, 65, 0.25);
}
.like-button.like-button--active {
  background-image: url(img/favorite.svg);
  color: #bc9cff;
  border: 1px solid #bc9cff;
}
.range-slider input {
  width: 266px;
  height: 6px;
}

.buttons button {
  margin-bottom: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  width: 99px;
  height: 44px;
  border-radius: 22px;
  background: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
}
