.columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.column {
  min-width: 300px;
}

.block-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-align: left;
  color: #1f2041;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
span {
  font-weight: normal;
  text-align: right;
  color: rgba(31, 32, 65, 0.5);
}
.input {
  width: 320px;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}
.box {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.input:hover,
.input:focus {
  color: rgba(31, 32, 65, 0.75);
  border: 1px solid rgba(31, 32, 65, 0.5);

  border-radius: 4px;
}
.input:focus-visible {
  outline-color: rgba(31, 32, 65, 0);
}
select {
  width: 320px;
  height: 44px;
  background: #ffffff;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}
select:focus {
  color: rgba(31, 32, 65, 0.75);
  border: 1px solid rgba(31, 32, 65, 0.5);
  box-sizing: border-box;
  border-radius: 4px;
}
.input-date {
  font-size: 14px;
  text-transform: uppercase;
}
.input-date-dropd {
  width: 150px;
  height: 44px;
}

.checkbox {
  display: flex;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  margin-right: 30px;
}
.checkbox + .checkbox {
  margin-top: 10px;
}

.checkbox input {
  width: 0;
}
.checkbox input::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  transition: 0.3s;
  background: url(img/checkbox.svg) no-repeat;
}
.checkbox label {
  padding-left: 30px;
  padding-top: 2px;
  cursor: pointer;
}

.checkbox input:checked::before {
  content: "";
  background-image: url(img/checkbox-checked.svg);
}

.radio {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.5);
}
